.take-test-input {
    display: block;
    width: calc(100% - 46px);
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
}

.take-test-button {
    width: calc(100% - 22px);
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}